.button {
  margin-top: 1rem;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
  padding: 0 2rem;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
